TTSDeckEditAndCreationTool/TTSDeckEditAndCreationTool/bin/Release/net5.0-windows/publish/TTSDeckEditAndCreationTool.deps.json 
TTSDeckEditAndCreationTool/TTSDeckEditAndCreationTool/bin/Release/net5.0-windows/publish/TTSDeckEditAndCreationTool.dll 
TTSDeckEditAndCreationTool/TTSDeckEditAndCreationTool/bin/Release/net5.0-windows/publish/TTSDeckEditAndCreationTool.exe 
TTSDeckEditAndCreationTool/TTSDeckEditAndCreationTool/bin/Release/net5.0-windows/publish/TTSDeckEditAndCreationTool.pdb 
TTSDeckEditAndCreationTool/TTSDeckEditAndCreationTool/bin/Release/net5.0-windows/publish/TTSDeckEditAndCreationTool.runtimeconfig.json 
TTSDeckEditAndCreationTool/TTSDeckEditAndCreationTool/obj/Release/net5.0-windows/PublishOutputs.9f78d9e7a6.txt
