TTSDeckEditAndCreationTool/TTSDeckEditAndCreationTool/bin/
TTSDeckEditAndCreationTool/TTSDeckEditAndCreationTool/obj/Debug/

TTSDeckEditAndCreationTool/.vs/TTSDeckEditAndCreationTool/DesignTimeBuild/.dtbcache.v2
